:root{
    --color-orange: #ffa201;
    --color-blue: #55aca0;
    --color-gray: #505050;
    --color-midgray: #959595;
    --color-lightgray: #cccccc;
    --color-beige: #f1e6d7;
    --color-body: white;
    --color-homeGradient: linear-gradient(45deg, #55aca0, #59b4a7, #5db9ad, #63c5b8, #5ebdb0, #5dbaae , #63c5b8);
    --color-fire: linear-gradient(to left, #55aca0, #4a958b, #3b7970);
    --color-headerElements: #ffa201;
    --color-signIn: var(--color-orange);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-body);
    opacity: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    transition: 0.5s;
}
body .background{
    background: var(--color-homeGradient);
}

.blur15px{
    filter: blur(15px);
}
.blur10px{
    filter: blur(10px);
}
.blur3px{
    backdrop-filter: blur(3px);
}

.scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: var(--color-fire);
    width: 100%;
    margin-bottom: 25px;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher{
    to { scale: 1 1; }
}

.nuvens{
    width: 100%;
    position: relative;
    bottom: -5px;
}
#camisa{
    width: 215px;
    right: 150px;
    transform: rotate(15deg);
    top: 800px;
    box-shadow: 1px solid black;
    position: absolute;
}
#cabide{
    width: 230px;
    right: 75px;
    top: 425px;
    transform: rotate(-10deg);
    box-shadow: 1px solid black;
    position: absolute;
}
#botao{
    position: absolute;
    width: 230px;
    left: 35px;
    transform: rotate(13deg);
    top: 600px;
}
#urso{
    width: 230px;
    left: -60px;
    transform: rotate(13deg);
    top: 150px;
    box-shadow: 1px solid black;
    position: absolute;
}
#macacao{
    width: 200px;
    right: 50px;
    transform: rotate(-30deg);
    top: 20px;
    box-shadow: 1px solid black;
    position: absolute;
}
#mae{
    margin-right: 30px;
    width: 500px;
}

.header {
    width: 100%;
    height: 100px;
    position: fixed; 
    font-size: 150%;
    display: flex;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.005s ease;
    transition: 0.15s;
}
.header #img-banner{
    margin-left: 75px;
    width: 195px;
    height: 50px;
}
.header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header nav ul{
    width: 75%;
    padding-top: 10px;
}

.header nav ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px 30px;
}
.header nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.25s;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
}
.header nav ul li a:hover:not(#signIn){
    color: var(--color-headerElements);
}

a.signIn-active{
    color: white;
    transition: 0.25s;
    background-color: var(--color-signIn);
    border-radius: 10px;
}
a.signIn-active:hover{
    color: white;
    background: #c87f01;
    transition: 0.25s;
    scale: 1.05;
}
a.signIn-active:active{
    color: white;
    background: #d5b901;
    transition: 0.25s;
    scale: 1.00;
}

a.signIn-unactive{
    background: #252525cf;
    border-radius: 10px;
    transition: 0.25s;
    backdrop-filter: blur(5px);
}
a.signIn-unactive:hover{
    scale: 1.05;
}

.home{
    margin: 200px 0;
    display: flex;
    justify-content: center;
    height: 550px;
}
.home .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .content button.conhecer-app{
    margin-top: 15px;
    font-size: 2em;
    font-weight: bold;
    height: 50px;
    width: 40%;
    border: none;
    border-radius: 15px;
    color: #ffa201;
    transition: 0.75s;
}
.home .content button.conhecer-app:hover{
    opacity: 0.75;
    transition: 0.75s;
}
.home .content button.conhecer-app:active{
    background-color: #ffa201;
    color: white;
    transition: 0.05s;
}




.phoneContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
}
.phoneLeft, .phoneMiddle, .phoneRight {
    position: relative;
    transition: 0.5;
    opacity: 1;
}
.phoneLeft {
    z-index: 997;
    right: -75px;
    top: -715px;
    transform: rotate(7.5deg);
}
.phoneMiddle {
    z-index: 998;
    top: -700px;
}
.phoneRight {
    z-index: 997;
    right: 75px;
    top: -715px;
    transform: rotate(-7.5deg);
}
.scale-for-hover:hover {
    scale: 1.1;
    transition: 0.5s;
}


#phone-product{
    position: relative;
    bottom: -3px;
}

.sobre-nos{
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
    margin-bottom: 100px;
    margin-top: 15px;
}
.sobre-nos .content{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 65px;
    margin-bottom: 100px;
}
.sobre-nos .content .text{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.sobre-nos .content h1{
    color: var(--color-blue);
    margin: 0;
    padding-bottom: 5px;
    font-size: 3em;
    margin-bottom: 15px;
}
.sobre-nos .content p{
    color: var(--color-gray);
    margin-top: 5px;
    font-size: 1.5em;
    width: 90%;
}
.sobre-nos .blob{
    position: relative; 
    width: 40%;
    padding-top: 30%;
    margin-right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #55aca0;
    box-shadow: 0 0 15px #55aca1ba; 
    position: relative;
    z-index: 1;
    border-radius: 30% 70% 68% 32% / 70% 69% 31% 30% ;
}
.sobre-nos .blob::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: -1;
    background-image: url(Assets/banner3.png);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 62% 38% 32% 68% / 38% 34% 66% 62% ;
}
.sobre-nos .sessao{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.sobre-nos .sessao div{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre-nos .sessao div .image{
    background-color: var(--color-lightgray);
    width: 80%;
    padding-top: 60%;
    border-radius: 25px;
}
.sobre-nos .sessao div h3{
    margin-top: 5px;
    color: var(--color-blue);
}
.sobre-nos .sessao div p{
    width: 90%;
    margin-top: 5px;
    color: #909090;
    text-align: center;
    padding: 0px 25px 0px 25px;
}

.sustentabilidade{
    margin-bottom: 150px;
}
.sustentabilidade .content{
    margin: 0 100px 0 100px
}
.sustentabilidade .content .arvore1{
    background-image: url(Assets/tree.png);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-left: -100px;
}
.sustentabilidade .content .arvore2{
    position: relative;
    top: -85px;
    background-image: url(Assets/tree.png);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin-left: -100px;
}
.sustentabilidade .content .s1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -485px;
}
.sustentabilidade .content .s1 h2{
    color: var(--color-lightgray);
    text-align: end;
}
.sustentabilidade .content .s1 span{
    padding: 17.5px;
}
.sustentabilidade .content .s1 span.divs{
    padding: 35px;
}
.sustentabilidade .content .s1 h1{
    font-size: 3em;
    color: var(--color-orange);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}
.sustentabilidade .content .s1 p{
    margin-top: 50px;
    color: black;
    width: 60%;
    font-size: 120%;
    text-align: end;
}
.sustentabilidade .content .s2{
    display: flex;
    font-size: 120%;;
    margin-top: -400px;;
    color: black;
}
.sustentabilidade .content .s2 p{
    width: 50%;
}
.sustentabilidade .content .s2 .predio1{
    height: 200px;
    width: 50%;
    background-image: url(Assets/buildings.png);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: flex-end;
    position: relative;
    bottom: -250px;
    right: -100px;
}

.equipe{
    margin: 150px 0 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.equipe h2{
    color: var(--color-lightgray);
}
.equipe h1{
    color: var(--color-blue);
    font-size: 3em;
}
.equipe span{
    padding: 17.5px;
}
.equipe span.divs{
    padding: 35px;
}
.equipe .membros {
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box; 
    margin-bottom: 150px;
}
.equipe .membros .nome{
    transition: 0.75s;
    color: var(--color-blue);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}
.equipe .membros .cargo{
    transition: 0.75s;
    color: var(var(--color-lightgray));
    font-size: 1.35em;
}
.equipe .membros > div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex: 1 0 200px; 
    margin-top: 30px;
    padding: 10px; 
}
.equipe .membros .blob {
    width: 275px; 
    height: 275px; 
    background-position: center; 
    background-repeat: no-repeat;
    border: none;
}
.equipe .membros #Geovanna .blob {
    background-image: url(Assets/fotos-membros/Geovanna.png);
}
.equipe .membros #Bianca .blob {
    background-image: url(Assets/fotos-membros/Bianca.png);
}
.equipe .membros #Gabriela .blob {
    background-image: url(Assets/fotos-membros/Gabriela.png);
}
.equipe .membros #Sarah .blob {
    background-image: url(Assets/fotos-membros/Sarah.png);
}
.equipe .membros #Lucas .blob {
    background-image: url(Assets/fotos-membros/Lucas.png);
}
.equipe .membros #Rafael .blob {
    background-image: url(Assets/fotos-membros/Rafael.png);
}
.equipe .membros #Lucca .blob {
    background-image: url(Assets/fotos-membros/Lucca.png);
}
.equipe .membros #Daniel .blob {
    background-image: url(Assets/fotos-membros/Daniel.png);
}
.equipe .membros #Gabriel .blob {
    background-image: url(Assets/fotos-membros/Gabriel.png);
}
.equipe .membros #Carlos .blob {
    background-image: url(Assets/fotos-membros/Carlos.png);
}
.equipe .membros #Kaique .blob {
    background-image: url(Assets/fotos-membros/Kaique.png);
}

footer{
    transition: 0.25s;
    background-color: white;
    margin-top: -200px;
    height: 100px;
}

footer .midia{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -225px;
    left: -35px;
    z-index: 900;
    margin-left: 50px;
}
footer .midia a img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
}
footer > div > a{
    padding: 10px 15px 40px 15px;
    height: 30px;
    width: 215px;
    font-size: 200%;
    text-decoration: none;
    color: white;
    display: flex;
    font-weight: 500;

    scale: 0.8;
}
a#instagram{
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    border-radius: 5px;
}
a#github{
    background: black;
    border-radius: 5px;
    position: relative;
    right: -3px;
    width: 175px;
}
a#github img{
    scale: 1.15;
}
footer a p{
    position: relative;
    top: -10px;
    transition: 0.25s;
}
footer a{
    transition: 0.25s;
}
footer a:hover{
    scale: 0.9;
    transition: 0.25s;
}
footer img.nuvem{
    src: 'Assets/TrocatineLogoBranca.png';
    width: 100%;
    position: relative;
    top: 5px;
}
